<div class="content">
	<div class="header">
		<div class="header-info">
			<span id="serverDate" class="label" data-serverTime="1476933126675">2016-10-20 11:12:06</span>
		</div>
		<h1 class="page-title">&nbsp;</h1>
	</div>
	<ul class="breadcrumb">&nbsp;</ul>
	<div class="container-fluid">
		<div id="vmContainer" class="row-fluid">
						#parse('index.vm')
		</div>
		<footer>
			<hr>
			&copy; 2013 <a href="http://www.jd.com" target="_blank">京东</a>
			<p class="pull-right"><span>Design by <a>成都云平台</a></span></p>
		</footer>
	</div>
</div>
